* {
    margin: 0;
    padding: 0;
}
#navlogo {
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
}

nav {
    background-color: black;
    width: 100%;
    padding: 5px
}
.links {
    text-align: right;
    padding-right: 40px;
}

.url {
    padding-right: 10px;
    font-size: 20px;
}
.bar {
    display: inline-block;
    width: 46%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
.cardcontain {
    margin: 5px;
}
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .store {
      margin: 100px;
      display: inline-flex;
  }
  body {
      background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  }

  #productimg {
      min-height: 250px;
      min-width: 250px
  }
  #mainimg {
    width: 100%;
    height: 100%;
  }
  footer {
    bottom: 0px;
    left: 0;
    background-color: black;
    display: block;
    color: white;
}
