*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}


.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    width: 295px;
    height: 50px;
    font-size: 35px;
    color: cornsilk;
    
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
}
.calculator {
    background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
    width: 300px;
    height: 350px;
    margin: 10px;
}
#equals {
    background-color: rgba(52, 191, 204, 0.822);
}
#inner {
    background-color: cornsilk;
}