#myUL {
    display: grid;
    flex-wrap: wrap;
    width: 80%;
    /* height: 100vh; */
    text-align: center;
    margin: auto;
    margin-top: 100px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

body {
    background-color: purple;
    background-image: url(https://i.imgur.com/gWvqkcY.png)
}

.robotCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-bottom: 30px;
    background-image: url(https://i.imgur.com/JQ1gcq4.png);
}

#name {
    font-size: 35px;

}

.nav {
    height: 50px;
    width: 100vw;
    background-color: #68dfb1;
    position: fixed;
    top: 0;
    /* width: 100%; */
    z-index: 100;
    left: 0;
}

img {
    border-radius: 50%;
}

.search {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#myInput {
    width: 50%;
    font-size: 15px;
}